<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-body p-4" style="text-align: center">
              <h1 style="text-transform: uppercase">Welcome</h1>
              <p style="text-transform: uppercase" class="text-muted">Take the Well Being Quiz</p>
              <i class="fa fa-5x fa-smile-o"></i><br><br>
              <button style="background-color: #87CCB8; border-color: #87CCB8" (click)="onClickYes()" type="button" class="btn btn-block btn-success">YES, SURE!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  