<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>Your Results</h1>
              <p style="text-transform: uppercase" class="text-muted">You scored 7/10 on the wellbeing quiz.</p>
              
              <div class="card-body">
                  <div class="h4 m-0">7/10</div>
                  <div>Talk to your Health Care Professional</div>
                  <div class="progress progress-xs my-3">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar bg-info" role="progressbar" style="width: 70%"></div>
                  </div>
                  <!-- <small class="text-muted">Lorem ipsum dolor sit amet enim.</small> -->
                </div>
              
              <br>
              <button (click)="onFinishedResults()" type="button" class="btn btn-block btn-success">GET MORE HELP... <i class="fa fa-arrow-circle-right fa-lg"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  