<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a style="background-image: url(assets/img/widelogo.png);background-size:140px auto;" class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarToggler>&#9776;</button>
  <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>&#9776;</button>
</header>
