<div class="animated fadeIn">
  <!-- <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-outline-danger" (click)="startRecording()"> Record </button>
      <button class="btn btn-outline-secondary" (click) ="stopRecording()"> Stop</button>
      <button class="btn btn-outline-success" (click)="download()"> Download</button>
    </div>
  </div> -->

  <div *ngFor="let activity of activities" class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 style="text-align: center">{{activity.name}} <i data-toggle="modal" (click)="infoModal.show()" class="fa fa-info-circle fa-md"></i></h2> 
        </div>
        <div class="card-body" style="font-size: 22px;">
          <i class="fa fa-calendar-check-o fa-md"></i> {{activity.starttime | date:'fullDate'}} 
        </div>
        <div class="card-footer">
          <h6 style="font-weight: normal;">with</h6>
          <h4> <span><img style="cursor: pointer;-moz-border-radius: 50%;border-radius: 50%;" src="http://lorempixel.com/50/50/people"/></span> {{activity.Assigned.fname}} {{activity.Assigned.lname}} </h4>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

</div>


<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">What is this?</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This will be an explanation of the activity. It will have learning resources such as links or a video etc.</p>
        <img src="https://pro.keepvid.com/images/en/facebook-video/find-share-option-youtube-video.jpg" height="100%" width="100%" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
