.btn-circle {
  height: 100px;
  width: 100px;
  line-height: 84px;
  cursor: pointer;
  -moz-border-radius: 50%; /* or 50% */
  border-radius: 50%; /* or 50% */

  background-color:#eee;
  color: #222;
  text-align: center;
  font-size: 2em;
}

.talkbubble {
  position: relative;
  width: 300px;
  height: 60px;
  /*height: 125px;*/
  
  padding: 18px;
  /*padding: 10px;*/
  border-radius: 6px;
  border: solid #A0C1D5;
  background: #A0C1D5;

}

.talkbubble:before {
  content: "";
  position: absolute;
  right: 98%;
  top: 24px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-right: 28px solid #A0C1D5;
  border-bottom: 3px solid #A0C1D5;
}

.talkbubble textarea {
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;
  
  margin: 0;
  padding: 0;
  
  border: none;
  resize: none;
}