<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>Quiz: Question</h1>

              <p style="text-transform: uppercase; text-align: center" class="text-muted">Do you prefer to stay at home, rather than go out and do new things?
                </p>

              <div class="row text-center">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <a (click)="gotoResults()" style="background-color: #87CCB8" class="btn btn-circle">
                        <span style="color: #fff">Yes</span>
                      </a>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <a (click)="gotoResults()" style="background-color: #A0C1D5" class="btn btn-circle">
                        <span style="color: #fff">No</span>
                      </a>
                </div>
              </div>
              
              <br>
              <!--<button type="button" class="btn btn-block btn-success">YES, SURE!</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  