<div class="sidebar">
  <app-sidebar-header></app-sidebar-header>
  <app-sidebar-form></app-sidebar-form>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">
        Menu
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/login']"><i class="icon-speedometer"></i> Login <span class="badge badge-info">NEW</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/register']"><i class="icon-speedometer"></i> Register <span class="badge badge-info">NEW</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Activities </a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> PastPort </a>
      </li> -->
      <li class="nav-item">
          <a class="nav-link" href="https://fast-oasis-79305.herokuapp.com/" target="_blank"><i class="icon-speedometer"></i> Gatherings </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/main']"><i class="icon-speedometer"></i> PastPort </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/speech']"><i class="icon-speedometer"></i> Speech </a>
      </li> -->
      
    </ul>
  </nav>
  <app-sidebar-footer></app-sidebar-footer>
  <app-sidebar-minimizer></app-sidebar-minimizer>
</div>

